* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #00865b;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /* width: 100vw;
    height: 100vh; */
    width: 350px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    padding-top: 80px;
}